<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>PessoaFisica</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="leaout">
    <div>
        <div class="center">
            <a th:href="@{/pessoa/fisica/edit/{id}(id=${pessoa.id})}"><button>EDITAR</button></a>
            <a th:href="@{/pessoa/fisica/remove/{id}(id=${pessoa.id})}"><button id="btnDelet">DELETAR</button></a>
        </div>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>CPF</th>
            </tr>
            </thead>
            <tr>
                <td th:text="${pessoa.id}"> </td>
                <td th:text="${pessoa.nome}"> </td>
                <td th:text="${pessoa.telefone}"> </td>
                <td th:text="${pessoa.cpf}"> </td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>