<header class="header" th:fragment="header">

    <nav class="navbar navbar-expand-lg bg-body-tertiary fs-5">

        <div class="container-xxl">

            <a class="navbar-brand fs-3" href="/pages/home">Mercado Em Casa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse div-nav-ul" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link" href="/produto/comprar">Produtos</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                        <a class="nav-link" href="/produto/list">Cad Produtos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/venda/comprasUser">Minhas Compras</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                        <a class="nav-link" href="/venda/list">Todas as Vendas</a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasAnyRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Pessoa Cadastradas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/pessoafisica/list">Pessoa Fisica</a></li>
                            <li><a class="dropdown-item" href="/pessoajuridica/list">Pessoa Juridica</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <strong sec:authentication="name" th:if="${session.pessoaLogada == null}"></strong>
                            <strong style="text-transform: capitalize" th:if="${session.pessoaLogada != null}"
                                    th:text="${session.pessoaLogada.nome}"></strong>
                        </a>
                        <ul>
                            <form th:action="@{/logout}" class="dropdown-menu" method="post">
                                <button type="submit" class="btn btn-outline-danger btnLogout material-symbols-outlined">
                                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
                                    logout
                                </button>
                            </form>
                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/venda/form">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="28" height="28"
                                 fill="currentColor" class="bi bi-cart"
                                 viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                            <span th:text="${session.venda?.getItensVenda?.size() ?: 0}">0</span>
                        </a>
                    </li>
                </ul>
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>

</header>


