<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="~{fragments/head :: head(~{::link},~{::title})}">
    <title>Cadastro de produtos</title>
    <link rel="stylesheet" type="text/css" href="/css/produto/style.css">
</head>
<body>
<main>
    <section class="produto-container">
        <div class="leaout-new">
            <h3>Produtos Cadastrados</h3>
            <a href="form">
                <button class="btn btn-primary btn-lg">Novo Produto</button>
            </a>
            <form th:action="${'/produto/list'}" class="leaout-data-form" method="get">
                <input type="text" name="name" class="form-control" placeholder="Nome">
                <button type="submit" class="btn btn-primary btn-data-form">Buscar</button>
            </form>
        </div>
        <div class="leaout-new" th:if="${findPepl != null}">
                <span>
                    <h5 th:text="${'Encontrados: '+findPepl}"></h5>
                    <a class="btn btn-danger"
                       th:href="${'/produto/list'}"
                       onclick="return window.confirm('Deseja realmente limpar a busca?')"
                    >Limpar</a>
                </span>
        </div>
        <h5 th:text="${mgs}" th:if="${mgs}"></h5>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th colspan="2">Ações</th>
                </tr>
                </thead>
                <tr th:each="p : ${produtos}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.descricao}"></td>
                    <td th:text="${p.valor}+' R$'"></td>
                    <td><a th:href="@{/produto/edit/{id}(id=${p.id})}">
                        <button class="btn btn-outline-primary">Editar</button>
                    </a></td>
                    <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                           th:href="@{/produto/remove/{id}(id=${p.id})}">
                        <button class="btn btn-outline-danger">Deletar</button>
                    </a></td>
                </tr>
            </table>
        </div>
    </section>
</main>
</body>
</html>