<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Mercado_em_Casa</title>
</head>
<body>
<main>
    <section class="container">
        <h1>Seja bem-vindo</h1>
        <p>Aqui voce pode comprar os seus produtos de onde estiver apenas com dinheiro e ‘internet’</p>
    </section>
    <section class="container">
        <a href="/venda/form">
            <button type="button" class="btn btn-outline-primary">
                Carrinho de Compras
            </button>
        </a>
    </section>
</main>
</body>
</html>