<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="~{fragments/head :: head(~{::link},~{::title})}">
    <title>Minhas Compras</title>
    <link rel="stylesheet" type="text/css" href="/css/vendas/style.css">
</head>
<body>
<main>
    <section class="container">
        <div class="leaout-new">
            <h2>Busque por suas compras</h2>
            <form th:action="${'/venda/comprasUser'}" method="get" class="leaout-data-form">
                <label class="leaout-data-form">A partir da Data
                    <input type="date" class="form-control" name="data"  autocomplete="true">
                    <button type="submit" class="btn btn-primary btn-data-form">Buscar</button>
                </label>
            </form>
        </div>
        <div class="data-info" th:if="${findPepl != null}">
                <span>
                    <h5 th:text="${'Encontrados: '+findPepl}"></h5>
                    <a class="btn btn-danger"
                       th:href="${'/venda/comprasUser'}"
                       onclick="return window.confirm('Deseja realmente limpar a busca?')"
                    >Limpar</a>
                </span>
        </div>
        <h5 th:text="${mgs}" th:if="${mgs}"></h5>
        <div class="div-container">
            <a th:each="v : ${vendas}" th:href="@{/venda/{id}(id=${v.id})}">
                <button class="btn btn-info shadow">
                    <p th:text="'Venda -- '+${v.id}"></p>
                    <p th:text="'Data -- '+${v.data}"></p>
                    <p th:text="'Valor -- '+${v.total()}+'R$'"></p>
                </button>
            </a>
            <h4 th:if="${session.pessoaLogada == null}">
                Você não é um consumidor<br>
                Obs.: você não pode realizar compras com este perfil.
            </h4>
        </div>
    </section>
</main>
</body>
</html>